*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.launchpg {
    height:100vh;
    width: 100vw;
    background: url(../images/land.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-evenly;  
    display: flex;
    flex-direction: row;
    background-attachment: fixed; 
    
}





#logo {
	border-radius: 25px;
  	border: 3px solid #73AD21;

}

.arrow {
    font-size: 60px;
    color:tomato;
    margin: 25px;
    box-shadow: #333;
    transition: transform .2s;
    display:flex;
    position: absolute;
    bottom: 10px;
    
}

.arrow:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}


.header1{
    float: right;
    height: auto;
    width: auto;
	background-color: (39, 204, 44);
	color: olivedrab;
	font-size: 0.6em;
	border-radius: 25px;
  	border: 3px solid #73AD21;
}

h1 {
    padding: 5px;
}
.home1 {
        height: 100vh;
        background-image: url("../images/wallpaper1.jpg");
        background-size: cover;
        color: rgb(56, 56, 56);
        display: flex;
        justify-content: center;
}

#main {   
    height: 100vh;
    background-image: url("../images/wallpaper2.jpg");
    background-size: contain;

}

.homepg {
    height: 100vh;
    background-image: url("../images/wallpaper1.jpg");
    background-size: contain;
}

.homebox{
    margin-top: 25vh;
    height:17vh;
    width: 100vh;
    background-color: rgba(255, 255, 255, 0.39);
    background-blend-mode: lighten;
}

.homebox > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2vw;
    font-size: 1.3em;
}



.divhover{
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

.explorebtn {
    margin-top: 25px;
    padding-top: 0.5vh;
    text-align: center;
    width: 15vw;
    height: 4vh;
    justify-content: center;
    align-content: center;
       background-color: rgba(28, 59, 196, 0.651);
       backdrop-filter: white;
    color: rgba(0, 0, 0, 0.849);
    margin-left: 26vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pglogo {
    border-radius: 25px;
    border: 3px solid #73AD21;
    position: relative;
    margin: auto;

}

/* navbar sticky */
.ulnav {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    margin-bottom: 3px;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;
    font-size: 1.3em;
    color: #73AD21;
    background-color: rgba(240, 238, 238, 0.514)
    
  }
  
 .linav {
    float: right;
 }
  
  .linav a {
    display: block;
    text-align: center;
    padding: 8px 6px;
    text-decoration: none;
    color: #73AD21;
    

  }
  
  .linav a:hover {
      background-color: rgba(255, 255, 255, 0.514);
      color: #73AD21;
      z-index: -5;
      border: 1px solid #73AD21;
      padding: 1px;
  
  }
  


.home2 {
    height: 100vh;
    display: block;
    background-image: url(Assets/images/tr.jpg)
}


.pg2 {
    height: 100vh;
    background-color: white;
    font-size: 1.05em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(163, 163, 163,0.9);
    clear: both;

  }

h1.headerpg {
    text-align: center;
}

.toptext {
    clear: both;
}
.pg3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../images/wall3.jpg);
    color: black;

}

ul.wrapper, .ulpic {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center
}


.wrapper2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

.lipic{
    list-style-type: none;
    padding: 20px;
    overflow: hidden;
}

    /* searchbar */
    .search{
        padding: 2px;
        margin: 5px;
        width: 20vw;
        color: #000000;
        background-color:whitesmoke;
        float: right;
}



.box3 {
    list-style-type: none;
    padding: auto;
    overflow: hidden;
    /* background-color: rgb(0, 0, 0); */  }
  
.pg3hdr {
    color: black;
    justify-content: center;
}

 .lipic, .box, .box3{
    float: left;
    list-style: none;
  }

  .ulpic a, .wrapper a, .wrapper2 a{
    display: block;
  }
  
 .lipic a:hover, .box a:hover, .box3 a:hover{
      background-color: rgb(255, 255, 255);
      color:  rgb(39, 204, 44);
      z-index: -1
  }

.img1 {
background-color: #f4511e;
border: none;
margin: 4px 2px;
opacity: 1;
transition: 0.3s;
}

.img1:hover {opacity: 0.6;
}

/* star rating */
.checked {
    color: orange;
}


/* hover zoom */
.wrapper > li {
    box-shadow: #333;
    transition: transform .2s;
    
}



.zoom:hover {
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}

.shop {
    background-color: tomato;
    color: white;
    margin-top: 5px;
    padding: 5px;
    
}

.shop2 {
    margin-top: 3em;
    margin: 5px;
    padding: 5px;

}



.pg4 {
    height: 130vh;
    background-image: url(../images/land.jpg);
    background-size: cover;
    background-attachment: fixed;
    clear: both;
    display: block;
}

.caropic {
    border-radius: 25px;
}

.pg5 {
    height: 100vh;
    background-image: url(../images/land.jpg);
    background-size: cover;
    background-attachment: fixed;
    clear: both;
   
}

.carousel-inner {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pg5 > h1 {
    background-color: rgba(255, 255, 255, 0.596);
    width: 28vh100;
    display: inline-flex;
    flex-direction: row;


}

input[type=text] select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(161, 151, 151);
    border-radius: 4px;
     }
     
label {
    padding: 5px 10px 12px 20;
    display: flex;
    

}

form > h1 {
    color: #2e912e;
}

input[type=submit] {
    display: block;
    background-color: #43c743;
    padding: 2px 17px;
    /* border:2px solid #f4511e; */
    border-radius: 4px;
    margin: 3px;
    color: black;
    

}

.form {
    color: #2e912e;;
    margin:10px;
    padding: 10px;
    float: right;
    background-color: rgba(255, 255, 255, 0.747);
    border:3px solid #2e912e;
    border-radius: 15px;

  }

h1 {
    display: inline-flex;
}


i {
    color: rgb(96, 139, 36);
    padding-top: 4%;
    padding-left: 1%;
    z-index: 20;
       
}


.pg6 {
    margin-left: 5px;
    color:  rgb(96, 139, 36);
    clear: both;
    background-color: rgba(255, 255, 255, 0.527);
}

.txtbx, .maillist, .submitbtn, .submit {
    width:25vh;
}
.msgbx{
    height: 10vh;
    width:25vh;
}

.logoleft{
    float: left;
    left: 0px;
    top: 10px;
}

.navicons {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
}

.navicons a:hover {
    background-color: rgba(255, 255, 255, 0.514);
    color: #73AD21;
    z-index: -5;
    border: 1px solid #73AD21;
    padding: 1px;
    border-radius: 100px;
    padding: 3px;

}
.contact {
    height: auto;
    background-color: rgba(192, 192, 187, 0.527);
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.label132 {
    text-align: center;
    color: black;
    background-color: rgba(248, 248, 248, 0.637);
    text-align: center;
}


#copyright {
    background-color: #f4511e;
    color: rgb(59, 58, 58);
    float:right;
    text-align: right;
    width: 100vw;
 
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    .launchpg, .contact {   
      flex-direction: column;
    }

    .arrow, .arrow:hover, .iframe, .navicons {
        display: none;
    }
    .pg4 {
        height: 40vh;
    }
  }
